.nav-wrapper {
	position: absolute;
	background-color: #7986cb;
	box-shadow: 0 2px black;
}

#header {
	color:white;
	padding-top: 5%;
	font-size: 2em;
	text-align: center;
	display: block;
	/*background-color: #c5cae9;*/

}

#profile_image {
	margin-bottom: 5%;
	/*display: block;*/
	/*background-color: #c5cae9;*/
}

#profile_text {
	margin-bottom: 5%;
	margin: 0 auto;
	width: 33.33vw;
	height: 33.33vw;
	background-color: #7986cb;
	display: none;
	font-size: 2vw;
}

#profile_text:hover {
	cursor: pointer;
}

#profile {
	display: block;
	margin: 0 auto;
	width: 33.33vw;
	border-radius: 100%;
	
}

#profile:hover {
	cursor: pointer;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; 
	/*margin-bottom: 20%;*/
}

#skills {
	color: #3f51b5;
	font-size: 3em;
	text-align: center;
	margin-bottom: 5%;
	box-shadow: 0 2px black;
}

#second_skills {
	margin-top: 7%;
	margin-bottom: 4%;
}

.tabs .indicator {
	color: #3f51b5;
	background-color: #3f51b5;
}

#project_section {

	display: flex;
	flex-direction: row;
}

.my_tab {
	text-align: center;
	display: block;
	width: 25vw;
	background-color: #7986cb;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	box-shadow: 0 2px black;
}

.my_tab:hover {
	background-color: #3949ab;
	cursor: pointer;
}

#tab-one {
	background-color: #3949ab;
}

#projects {
	margin-top: 5%;
	color: white;
	font-size: 3em;
	text-align: center;
}

#website {
	font-size: 3vw;
	display: inline-block;
	color: #3949ab;
}

.textBox {
	font-size: 2vw;
	line-height: 2;
}

.textBoxHeader {
	font-size: 3.5vw;
}

.projectTable {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20%;
}

.ring {
	width: 50vw;
}

.leftSide {
	width: 50%;
	display: inline-block;
}

.rightSide {
	display: inline-block;
	width: 50%;
}

#tab2 {
	display: none;
}

#tab3 {
	display: none;
}

#tab4 {
	display: none;
}

#contact {
	display: block;
	background-color: #7986cb;
	font-size: 2em;
	color: white;
	height: 20%;
	padding: 10%;
	margin: 0 auto;
}

#contactMe {
	color: #3f51b5;
	font-size: 3em;
	text-align: center;
}

.sectionHeader {
	display: block;
	background-color: #7986cb;
	color: white;
}

#skills {
	color: white;
}
/*######################*/

.html_logo {
	padding: 5%;
	display: block;
	width: 150px;
}

.css_logo {
	padding: 5%;
	display: block;
	width: 150px;
}

.javascript_logo {
	padding: 5%;
	display: block;
	width: 150px;
	padding-top: 45px;
}

.git_logo {
	padding: 5%;
	display: block;
	width: 250px;
	padding-top: 50px;
}

.jquery_logo {
	width: 150px;
	margin-top: 10px;
}

.python_logo {
	padding: 5%;
	display: block;
	width: 250px;
}

.php_logo {
	display: block;
	padding: 5%;
	width: 200px;
}
/*######################*/

@media only screen and (max-width: 600px) {
	#profile {
		width: 60vw;
	}

	#profile_text {
		width: 60vw;
		height: 60vw;
		font-size: 4vw;
	}

	#website {
		font-size: 5.5vw;
	}

	.textBox {
		font-size: 4.5vw;
	}

	.textBoxHeadaer {
		font-size: 6vw;
	}

	.leftSide {
		width: 100vw;
	}

	.rightSide {
		width: 100vw;
	}

	.ring {
		width: 100%;
	}
}
